<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h4 class="jumbotron"  id="dashboard">Dashboard Sample</h4>
  <!-- <h1 *ngIf="keyPhrases !== undefined">Key Phrases {{ keyPhrases[0].keyPhrases[0] }}</h1>
  <h1 *ngIf="sentiments !== undefined">Sentiments {{ sentiments[0].score }}</h1> -->
</div>


<div class="container">
  <div class="row">
    <div class="col-sm row1">
      <chart *ngIf="sentiments !== undefined" [type]="type" [(data)]="data" [options]="options"></chart>
    </div>
    <div class="col-sm row2">
      <chart *ngIf="sentiments !== undefined" [type]="type" [(data)]="data" [options]="options"></chart>
    </div>
    <div class="col-sm row3">
        <chart *ngIf="sentiments !== undefined" [type]="type" [(data)]="data" [options]="options"></chart>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
        <ul *ngIf="keyPhrases !== undefined">
          <li *ngFor="let phrase of phrases">Key Phrase Found: {{phrase}}</li>
        </ul>
    </div>
    <div class="col-sm">
        <chart *ngIf="sentiments !== undefined" [type]="type" [(data)]="data" [options]="options"></chart>
    </div>
    <div class="col-sm">
        <chart *ngIf="sentiments !== undefined" [type]="type" [(data)]="data" [options]="options"></chart>
    </div>
  </div>
</div>

